*
{
	font-family: Helvetica;
/*	margin: 0px;
	padding: 0px;*/
}
.lewa
{
	background-color: Navy;
	color: white;
	height: 700px;
	width: 25%;
	float: left;
}
.prawa1
{
	background-color: royalblue;
	height: 100px;
	width: 75%;
	text-align: center;
	float: right;
}
.prawa2
{
	background-color: steelblue;
	height: 300px;
	width: 75%;
	float: right;
}
.prawa3
{
	background-color: royalblue;
	height: 300px;
	width: 75%;
	text-align: center;
	float: right;
}
.stopka
{
	clear: both;
	background-color: steelblue;
	text-align: center;
/*	padding: 20px;*/
}
.autor
{
	padding: 20px;
}

h1
{
	letter-spacing: 5px;
}
form
{
/*	margin: 30px;  nie dziala poprawnie zmieniłem na padding w prawa2*/
	margin: 30px;
	line-height: 3;
}
input[type=number]
{
	width: 120px;
}
form:hover
{
	background-color: deepskyblue;
}